@import "../../../../styles/variables";

.files-dropzone {
    display: flex;
    flex-direction: column;
    border: 1px dashed color("border");
    cursor: pointer;
    padding: 30px 20px;

    &.disabled {
        cursor: unset;
        opacity: 0.5;
    }

    .dropzone-text {
        text-align: center;
        vertical-align: middle;
    }

    &:focus {
        outline: none;
    }
}
