.card-sections-group {
    & > .top-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & > *:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    & > .actions {
        display: flex;
        justify-content: flex-end;

        & > *:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    & > div:not(:last-child) {
        margin-bottom: 20px;
    }

    .card-section {
        .title {
            font-size: 20px;
            font-weight: bold;
        }

        .card-section-bottom-actions {
            margin-top: 1rem;
            justify-content: flex-end;
        }
    }
}
