.localization-menu {
    & > .localization-toggler {
        background-color: transparent;
        border: 0;
        box-shadow: none;

        i {
            font-size: 30px;
            line-height: 30px;
        }

        .language-abbr {
            display: inline-block;
            min-width: 25px;
        }

        &:hover, &:focus, &:active {
            border: 0 !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }
    }
}